# requirements.txt

# --- GUI / Editor Dependencies ---
customtkinter
pygments
copy
time
re
io
logging
base64
functools
operator

# --- Core Engine & Proc Agent Dependencies ---
argparse
typing
pdb

# networking
requests
socket
sys

# For AI model providers
openai
groq
hugchat

# For Retrieval-Augmented Generation (RAG)
# Note: faiss-cpu is specified to avoid needing a GPU/CUDA setup
faiss-cpu
sentence-transformers
numpy

# For data parsing and manipulation
beautifulsoup4
lxml
json-repair
json
lxml 
xml
html
urllib


# --- For SMB (Windows/Samba file share) agents ---
pysmb

# --- For S3 (AWS and S3-compatible object storage) agents ---
boto3

# --- For Database Connector Agents ---
# For MySQL / MariaDB
mysql-connector-python

# For PostgreSQL
psycopg2-binary

# For Oracle DB
oracledb

# For Microsoft SQL Server
pyodbc

